.infoRow{
    display: flex;
    align-items: center;
    gap: 10px;
}

.infoIcon{
    border: 1px solid gray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
}

.productInfo{
    margin-top: 2%;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.productBtnGroup{
    margin-top: 2%;
}